.users {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.userContent {
  display: flex;
  margin: 50px 0;
  width: 28%;
  box-shadow: 0 0 4px 0 #04040450;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
}

.userContent:hover {
  box-shadow: 0 0 4px 2px #04040440;
}

.userContent h2 {
  text-align: center;
}

.userImage {
  width: 100%;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #04040450;
}
