@import url("https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  margin: 0 5%;
  font-family: "poppins", sans-serif;
  color: #040404;
  background: white;
  font-size: 25px;
  letter-spacing: 1.3px;
}

hr {
  background: #040404;
}
